/* html body header {
  background: url('../../img/bg.jpg');
} */

html body header {
  background: url('../../img/bg.jpg');
  padding: 20px 0px 20px 0px;
}

#div-header {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

html body header nav {
  position: absolute;
  top: 110px;
  right: 0;
}

html body header nav li {
  display: inline;
  margin: 0 0 0 15px;
}

html body header nav a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

html body header nav a:hover {
  color: chocolate;
  text-decoration: underline;
}